.cisco-marker {
  background-image: url('../../Icons/cisco_sites.svg');
  width: 50px;
  height: 70px;
  margin-top: -40px;
}
.aws-marker {
  background-image: url('../../Icons/aws-pin.svg');
  width: 50px;
  height: 70px;
  margin-top: -40px;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.popup {
  width: 500px;
}
